#form_container{
	width: 225px;
	text-align: left;
	display:inline-block;
	vertical-align: top;
}

#contact_container{
	width: 225px;
	height: 200px;
	display:inline-block;
}

textarea{
	height: 100px;
	width: 200px;
}


#reverse{
	display:none;
}


#card{
	border: 3px solid black;
}